
$margenta: rgb(32,178,170);
$standard: #000;

$font-size-pages: 22px;

// Media Queries
$desktop-width: 1440px;
$laptopL-width: 1024px;
$laptop-width: 820px;
$tablet-width: 768px;
$mobileL-width: 425px;

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin laptopL {
    @media (min-width: #{$laptopL-width}) and (max-width: #{$desktop-width - 1}) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: #{$laptop-width}) and (max-width: #{$laptopL-width - 1 }) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$laptop-width - 1}) {
        @content;
    }
}

@mixin mobileL {
    @media (min-width: #{$mobileL-width}) and (max-width: #{$tablet-width - 1}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobileL-width - 1}) {
        @content;
    }
}
